<!--------------------------- NAVIGATION --------------------------->
<div class="navigation">
  <div class="container">
  
    <div class="pull-right">
      <ul class="nav nav-pills">
        <li><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "About Me", about_path %></li>
        <li><%= link_to "Good Books", books_path %></li>
        <li><%= link_to "Shout Out", shout_path %></li>
      </ul>
    </div>
  
  </div>
</div>

<!--------------------------- ABOUT --------------------------->
<div class="about">
  <div class="container">
    <span>&emsp;&emsp;</span><%= image_tag('drop cap i.jpg', class: 'drop-cap') %><h4>n June 2013, I left my job as a chemist at Polytex Inks to pursue web development.
    I heard about <a href="http://www.appacademy.io/#p-home" target="_blank">App Academy</a> and began studying Ruby to prepare for the application and interview process. 
    Fortunately, I was admitted into the March 2014 class; unfortunately- 2.5 weeks after starting and a terrible fever later- I was asked to withdraw from the program. 
    The blog link in the footer chronicles this experience.
    <br><br>
    &emsp; After App Academy I took time off from studying and began reading books that I've always wanted to read but felt like I never had time for.
    Some of the ones I'd recommend are in the 'Good Books' section. In the autumn I became hooked on 
    <a href="http://www.codecademy.com/" target="_blank">www.codecademy.com</a>, which does an excellent job of teaching lots of 
    different programming languages. Here are all of the materials I've read through:
    <br><br><br>
    
    <ul>
      <strong>Ruby</strong>
      <ul>
        <li>Beginning Ruby by Peter Cooper</li>
        <li>Ruby Track - Codecademy</li>
      </ul>
    </ul>
    
    <ul>
      <strong>Python</strong>
      <ul>
        <li>MITx 6.00.1x Introduction to Computer Science and Programming (www.edx.org)</li>
        <li>Python Track - Codecademy</li>
      </ul>
    </ul>
    
    <ul>
      <strong>Rails</strong>
      <ul>
        <li>Ruby on Rails Tutorial by Michael Hartl</li>
        <li>Make a Rails App I & II - Codecademy</li>
      </ul>
    </ul>
    
    <ul>
      <strong>Javascript</strong>
      <ul>
        <li>Effective Javascript by David Herman</li>
        <li>Javascript Track - Codecademy</li>
      </ul>
    </ul>
    
    <ul>
      <strong>SQL</strong>
      <ul>
        <li>Learning SQL by Alan Beaulieu</li>
      </ul>
    </ul>
    
    <ul>
      <strong>AngularJS</strong>
      <ul>
        <li>Make an AngularJS App - Codecademy</li>
      </ul>
    </ul>
    
    <ul>
      <strong>HTML, CSS, & jQuery</strong>
      <ul>
        <li>Codecademy</li>
      </ul>
    </ul>
    
    <br><br> 
    &emsp; When I felt I had a solid grasp on Rails, I decided to make this website using <a href="https://c9.io/" target="_blank">Cloud 9</a> as my development environment. 
    It's been a lot of fun and I'd like to do this as a career. All visitors are encouraged to leave a comment in the 'Shout Out' section. Thanks for visiting!
    </h4>
    
  </div>
</div>