<!--------------------------- NAVIGATION --------------------------->
<div class="navigation">
  <div class="container">
  
    <div class="pull-right">
      <ul class="nav nav-pills">
        <li><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "About Me", about_path %></li>
        <li><%= link_to "Good Books", books_path %></li>
        <li><%= link_to "Shout Out", shout_path %></li>
      </ul>
    </div>
  
  </div>
</div>

<!--------------------------- ABOUT --------------------------->
<div class="about">
  <div class="container">
    
    <span>&emsp;&emsp;</span><%= image_tag('drop cap i.jpg', class: 'drop-cap') %><h4> am Patrick, a Brooklyn based web developer. This website 
    was made using <a href="https://c9.io/" target="_blank">Cloud 9</a> as a development environment. Thanks for visiting and don't forget to 
    leave a comment in the 'Shout Out' section!
    </h4>
    
  </div>
</div>