<!--------------------------- NAVIGATION --------------------------->
<div class="navigation">
  <div class="container">
  
    <div class="pull-right">
      <ul class="nav nav-pills">
        <li><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "About Me", about_path %></li>
        <li><%= link_to "Good Books", books_path %></li>
        <li><%= link_to "Shout Out", shout_path %></li>
      </ul>
    </div>
  
  </div>
</div>

<!--------------------------- ABOUT --------------------------->
<div class="about">
  <div class="container">
    
    <span>&emsp;&emsp;</span><%= image_tag('drop cap i.jpg', class: 'drop-cap') %><h4> am Patrick, a New Jersey based web developer. This website 
    was made using <a href="https://c9.io/" target="_blank">Cloud 9</a> as a development environment. Thanks for visiting and don't forget to 
    leave a comment in the 'Shout Out' section!
    </h4><br>
    
    <h4>My most recent website is: <a href="http://www.upordown.club" target="_blank">http://www.upordown.club</a></h4>
    <br><br><br>
    <h4>List of edx.org certificates:</h4>
    
    <h5>BerkeleyX</h5>
    <ul>
        <li>
            <a href="https://courses.edx.org/certificates/f2619d25ceeb447e92f35eb7a299261d" target="_blank">
            CS169.1x: Agile Development Using Ruby on Rails - The Basics</a>
        </li>
    </ul>
    
    <h5>DoaneX</h5>
    <ul>
        <li>
            <a href="https://courses.edx.org/certificates/74b260fef62f485abf8f2bfa21fe0942" target="_blank">
            HPH-102X: Chronic Disease Treatment with Lifestyle Medicine</a>
        </li>
    </ul>


  </div>
</div>